.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.square-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 51.5%;
  width: 60%;
  overflow-y: scroll;
}
.img-responsive {
  height: 65px;
  width: 65px;
  margin: 1px 2px;
  border-radius: 5px;
  border: 3px solid #5e5e5e;
}
.allies {
  height: 60vh;
  width: 17vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.enemies {
  height: 60vh;
  width: 17vw;
  background-color: black
}
.player-selector {
  height: 9.5vh;
  width: 225px;
  background-color: #151515;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 9px;
}
.champion-selected {
  height: 65px;
  width: 65px;
  border-radius: 5px;
}
.placeholder {
  height: 65px;
  width: 65px;
  border-radius: 5px;
  border: 3px solid #5e5e5e;
  background-color: #050a0e;
}
.timer {
  position: absolute;
  left: 50%;
  top: 14%;
}