.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.square-container{
  width: 50%;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.img-responsive{
  height: 50px;
  width: 50px;
}